[defaults]
remote_user = root
inventory = /home/student/ansible/inventory
collection_path = /home/student/ansible/mycollection:/home/student/.ansible/collections:/usr/share/ansible/collections
vault_password_file= ./secret.txt

[privilege_escalation]
become = true
become_method = sudo
become_user = root
